.DS_Store
*~

Pods
PoshReVo.xcworkspace/xcuserdata/
DatumbazFarilo/DatumbazFarilo.xcodeproj/xcuserdata/robin.xcuserdatad/xcdebugger/

PoshReVo/Risurcoj/PoshReVoDatumbazo.sqlite
PoshReVo/Risurcoj/MallongigoListoj.swift
